# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.4.0=pypi_0
apache-beam=2.46.0=pypi_0
array-record=0.4.1=pypi_0
astunparse=1.6.3=pypi_0
avro-python3=1.10.2=pypi_0
bleach=6.1.0=pypi_0
ca-certificates=2023.11.17=h56e8100_0
cachetools=5.3.2=pypi_0
certifi=2023.11.17=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
cloudpickle=2.2.1=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.2.0=pypi_0
crcmod=1.7=pypi_0
cudatoolkit=11.2.2=h933977f_10
cudnn=8.1.0.77=h3e0f4f4_0
cycler=0.12.1=pypi_0
cython=3.0.8=pypi_0
dill=0.3.1.1=pypi_0
dm-tree=0.1.8=pypi_0
docopt=0.6.2=pypi_0
etils=1.5.2=pypi_0
fastavro=1.9.3=pypi_0
fasteners=0.19=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.47.2=pypi_0
fsspec=2023.12.2=pypi_0
gast=0.4.0=pypi_0
gin-config=0.5.0=pypi_0
google-api-core=2.15.0=pypi_0
google-api-python-client=2.114.0=pypi_0
google-auth=2.26.2=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.62.0=pypi_0
grpcio=1.60.0=pypi_0
h5py=3.10.0=pypi_0
hdfs=2.7.3=pypi_0
httplib2=0.21.0=pypi_0
humanfriendly=10.0=pypi_0
idna=3.6=pypi_0
immutabledict=4.1.0=pypi_0
importlib-metadata=7.0.1=pypi_0
importlib-resources=6.1.1=pypi_0
joblib=1.3.2=pypi_0
kaggle=1.6.3=pypi_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.5=pypi_0
libclang=16.0.6=pypi_0
lvis=0.5.3=pypi_0
lxml=5.1.0=pypi_0
markdown=3.5.2=pypi_0
markupsafe=2.1.4=pypi_0
matplotlib=3.8.2=pypi_0
mpmath=1.3.0=pypi_0
numpy=1.24.4=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=pypi_0
object-detection=0.1=pypi_0
objsize=0.6.1=pypi_0
onnx=1.15.0=pypi_0
onnxruntime-gpu=1.16.3=pypi_0
onnxruntime-tools=1.7.0=pypi_0
opencv-python=4.9.0.80=pypi_0
opencv-python-headless=4.9.0.80=pypi_0
openssl=3.0.12=h2bbff1b_0
opt-einsum=3.3.0=pypi_0
orjson=3.9.12=pypi_0
packaging=23.2=pypi_0
pandas=2.2.0=pypi_0
pillow=10.2.0=pypi_0
pip=23.3.1=py39haa95532_0
portalocker=2.8.2=pypi_0
promise=2.3=pypi_0
proto-plus=1.23.0=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.8=pypi_0
py-cpuinfo=9.0.0=pypi_0
py3nvml=0.2.7=pypi_0
pyarrow=9.0.0=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycocotools=2.0.7=pypi_0
pydot=1.4.2=pypi_0
pymongo=3.13.0=pypi_0
pyparsing=2.4.7=pypi_0
pyreadline3=3.4.1=pypi_0
python=3.9.18=h1aa4202_0
python-dateutil=2.8.2=pypi_0
python-slugify=8.0.1=pypi_0
pytz=2023.3.post1=pypi_0
pywin32=306=pypi_0
pyyaml=5.4.1=pypi_0
regex=2023.12.25=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.9=pypi_0
sacrebleu=2.2.0=pypi_0
scikit-learn=1.4.0=pypi_0
scipy=1.12.0=pypi_0
sentencepiece=0.1.99=pypi_0
seqeval=1.2.2=pypi_0
setuptools=68.2.2=py39haa95532_0
six=1.16.0=pypi_0
sqlite=3.41.2=h2bbff1b_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.10.1=pypi_0
tensorflow-addons=0.22.0=pypi_0
tensorflow-datasets=4.9.0=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-hub=0.15.0=pypi_0
tensorflow-io=0.31.0=pypi_0
tensorflow-io-gcs-filesystem=0.31.0=pypi_0
tensorflow-metadata=1.13.0=pypi_0
tensorflow-model-optimization=0.7.5=pypi_0
tensorflow-text=2.10.0=pypi_0
termcolor=2.4.0=pypi_0
text-unidecode=1.3=pypi_0
tf-models-official=2.10.1=pypi_0
tf-slim=1.1.0=pypi_0
tf2onnx=1.16.1=pypi_0
threadpoolctl=3.2.0=pypi_0
toml=0.10.2=pypi_0
tqdm=4.66.1=pypi_0
typeguard=2.13.3=pypi_0
typing-extensions=4.9.0=pypi_0
tzdata=2023.4=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.1.0=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
webencodings=0.5.1=pypi_0
werkzeug=3.0.1=pypi_0
wheel=0.41.2=py39haa95532_0
wrapt=1.16.0=pypi_0
xmltodict=0.13.0=pypi_0
zipp=3.17.0=pypi_0
zstandard=0.22.0=pypi_0
